{% extends 'main/base.html' %}

{% load static from staticfiles %}

{% block title %}User Settings{% endblock %}

{% block content %}

<form action = "{% url 'user-update' %}" id="user_form" method="post">
    {% csrf_token %}

    <h2>User Settings</h2>

    <hr>

    <div class="row form-group">
      <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label">{{ form.email.label }}</label>
      <div class="col-sm-9">
        <div class="{% if form.email.errors %}form-error{% endif %}">{{ form.email }}</div>
        {{ form.email.help_text }}
        {{ form.email.errors }}
      </div>
    </div>

    <div class="row form-group">
      <label for="{{ form.phone_num.id_for_label }}" class="col-sm-3 col-form-label">{{ form.phone_num.label }}</label>
      <div class="col-sm-9">
        <div class="{% if form.phone_num.errors %}form-error{% endif %}">{{ form.phone_num }}</div>
        {{ form.phone_num.help_text }}
        {{ form.phone_num.errors }}
      </div>
    </div>

  <div class="row form-group">
      <label for="{{ form.codename.id_for_label }}" class="col-sm-3 col-form-label">{{ form.codename.label }}</label>
      <div class="col-sm-9">
        <div class="{% if form.codename.errors %}form-error{% endif %}">{{ form.codename }}</div>
        {{ form.codename.help_text }}
        {{ form.codename.errors }}
      </div>
    </div>

    <br>

    <button class="btn btn-lg btn-success btn-block" type="submit">Apply</button>
</form>

{% endblock %}

{% block script %}{% endblock %}
